# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.temp
.DS_Store

# Generated compiled output artifacts (stored only on release branch)
json/
conf/
srs/
mrs/
logs/

# Local raw fetched sources (stored only on @sync-rules branch)
@rules/
upstream/
rules/